@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

.logoContainer {
  display: flex;
  align-items: center;
}

.logoBrand {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #07192c;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoText {
  font-family: 'Changa One', cursive;
  color: #2196f3;
  font-size: 24px;
}

.logoTextSpan {
  color: #07192c;
}
